<header id="main-header">
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu" data-dropdown-menu>
        <li class="app-name"><a [routerLink]="['/']">Все-Генераторы</a></li>
        <li><a [routerLink]="['/prices']">Прайсы</a></li>
        <li><a [routerLink]="['/exports']">Выгрузки</a></li>
      </ul>
    </div>
    <div class="top-bar-right">

    </div>
  </div>
</header>
<router-outlet></router-outlet>