<div class="row">
  <div class="columns small-12">
    <h1>Прайс-листы</h1>
    <div class="button-group in-page-navigation">
      <a class="button hollow" [routerLink]="['/prices']">Мои прайсы</a>
      <a class="button hollow" [routerLink]="['/prices/new']">Новый прайс</a>
    </div>

  </div>
</div>
<router-outlet></router-outlet>