<section class="new-form">
  <div class="row">
    <div class="columns small-12 medium-1">
      <a [routerLink]="['/exports']">&larr; Назад</a>
    </div>
    <div class="columns small-10 small-pull-1" [ngClass]="loading_class">
      <div class="row">
        <div class="columns small-12">
          <h5>Детали выгрузки</h5>
        </div>
      </div>
      <div class="row" *ngIf="loaded">
        <div class="columns small-12">
          <table class="hover">
            <tr>
              <td width="33%">Дата выгрузки</td>
              <td>{{export_element.exported_at | formatted_date : "DD-MM-YYYY HH:mm"}}</td>
            </tr>
            <tr>
              <td>Прайсы в выгрузке</td>
              <td>
                <span *ngFor="let price of export_element.prices; let last = last">
                  <a [routerLink]="['/prices', price.id.$oid]">{{price.name}}</a>
                  <span *ngIf="!last">, </span>
                </span>
              </td>
            </tr>
            <tr>
              <td>Товаров выгружено:</td>
              <td>{{export_element.api_responce.offers_count}}</td>
            </tr>
            <tr>
              <td>Товаров обновлено:</td>
              <td>{{export_element.api_responce.updated_count}}</td>
            </tr>
            <tr>
              <td>Нет в наличии:</td>
              <td>{{export_element.api_responce.deactivated_count}}</td>
            </tr>
            <tr>
              <td>Не найдено:</td>
              <td>{{export_element.api_responce.not_found_count}}</td>
            </tr>
          </table>
        </div>
      </div>


      <div class="row" *ngIf="loaded && export_element.api_responce.updated_count > 0">
        <div class="columns small-12">
          <h4>
            Обновленные товары
            <a (click)="show('updated')" *ngIf="!updated_show && export_element.api_responce.updated_count > 0">показать</a>
            <a (click)="hide('updated')" *ngIf="updated_show">скрыть</a>
          </h4>
          <table class="hover" *ngIf="updated_show">
            <thead>
            <tr>
              <th width="70"></th>
              <th>Название</th>
              <th>Старая цена</th>
              <th>Новая цена</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let offer of export_element.api_responce.updated_offers">
              <td><img [src]="offer.img" width="50" alt=""></td>
              <td>
                <a class="name" [href]="offer.link" target="_blank">{{offer.name}}</a>
                <div class="sku">{{offer.sku}}</div>
              </td>
              <td>{{offer.old_price}} {{offer.currency}}</td>
              <td>{{offer.new_price}} {{offer.currency}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row" *ngIf="loaded && export_element.api_responce.deactivated_count > 0">
        <div class="columns small-12">
          <h4>
            Товаров нет в наличии
            <a (click)="show('deactivated')" *ngIf="!deactivated_show && export_element.api_responce.deactivated_count > 0">показать</a>
            <a (click)="hide('deactivated')" *ngIf="deactivated_show">скрыть</a>
          </h4>
          <table class="hover" *ngIf="deactivated_show">
            <thead>
            <tr>
              <th width="70"></th>
              <th>Название</th>
              <th>Старая цена</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let offer of export_element.api_responce.deactivated_offers">
              <td><img [src]="offer.img" width="50" alt=""></td>
              <td>
                <a class="name" [href]="offer.link" target="_blank">{{offer.name}}</a>
                <div class="sku">{{offer.sku}}</div>
              </td>
              <td>{{offer.old_price}} {{offer.currency}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row" *ngIf="loaded && export_element.api_responce.deactivated_count > 0">
        <div class="columns small-12">
          <h4>
            Не найдены на сайте
            <a (click)="show('not_found')" *ngIf="!not_found_show && export_element.api_responce.not_found_count > 0">показать</a>
            <a (click)="hide('not_found')" *ngIf="not_found_show">скрыть</a>
          </h4>
          <table class="hover" *ngIf="not_found_show">
            <thead>
              <tr>
                <th>SKU</th>
                <th>Название</th>
                <th>Старая цена</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let offer of export_element.api_responce.not_found">
                <td>{{offer.sku}}</td>
                <td>{{offer.name}}</td>
                <td>{{offer.price}} {{offer.currency}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


    </div>
  </div>
</section>